
.container {
  display: flex;
  transition: margin-left 0.3s;
}

.content {
  margin-top: 3rem;
  padding: 1rem;
  transition: margin-left 0.3s;
}


.contentExpanded {
  margin-left: 5rem;
}


.contentCollapsed {
  margin-left: 0rem;
}
