
.container {
  display: flex;
  transition: margin-left 0.3s;
}

.content {
  transition: margin-left 0.3s;
}


.contentExpanded {
  margin-left: 3.5rem;
  width: 100%;
}


.contentCollapsed {
  margin-left: 0rem;
  width: 100%;
}
